body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.lagura-100 {
    width: 100%;
}

.texto-direita {
    text-align: right;
}

.negrito {
    font-weight: bold;
}

#cabecalho {
    background-color: #000024;
    color: white;
    padding: 12px;
    width: 100%;
}

#logo {
    width: 60%;
    vertical-align: bottom;
}

#titulo {
    width: 40%;
}

#cabecalho h2,
#cabecalho h4 {
    margin: 0;
}

#whatsapp {
    margin-top: 50px;
    margin-bottom: 5px;
    color: white;
    margin-left: auto;
}

#whatsapp tr td.numero-telefone {
    padding-left: 5px;
}

#dados-gerais {
    border-spacing: 0;
    margin: 5px 0px 0px -3px;
    padding: 0;
}

#dados-gerais td {
    padding-top: 10px;
}

#servicos {
    border-spacing: 0px;
    border-collapse: collapse;
    margin-top: 25px;
    margin-bottom: 25px;
}

#servicos thead tr th {
    font-size: 18px;
    padding-bottom: 15px;
}

#servicos tbody,
#servicos tbody tr,
#servicos tbody tr td {
    border: 1px solid #dedede;
}

#servicos tbody tr td {
    padding: 10px;
}

div#observacoes {
    padding: 10px;
    background-color: rgb(255, 243, 205);
    color: rgb(102, 77, 3);
    border-left: solid 4px rgb(255, 230, 156);
    margin-bottom: 15px;
}

div#observacoes h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

div#observacoes p {
    padding: 0;
    margin: 0;
    margin-top: 4px;
}

td#dados-total-orcamento {
    text-align: right;
}

p#menor {
    margin: 0;
    padding: 0;
    font-size: 80%;
}

#total-sem-desconto {
    text-decoration: line-through;
    color: rgb(220, 53, 69);
}

#total-orcamento {
    font-size: 130%;
    font-weight: bold;
    color: rgb(25, 135, 84);
}

.alinhar-abaixo {
    vertical-align: bottom;
}